<button  type="button" pButton icon="fa-plus" class="ui-button-info custom-button-info"
         (click)="addContact()" [disabled]="!canAddMore">
</button>
<p-dialog header="{{ headerTitle | translate }}" modal="modal" [contentStyle]="{'overflow':'visible'}"
          [(visible)]="showContactForm"
  [responsive]="true">

  <form [formGroup]="form" novalidate name="formContacto" class="fadein-down" >

    <p-fieldset class="ui-sm-12 ui-md-12 ui-g-12 ui-lg-12" [ngClass]="{'mandatory': validations['direccion']}"
                legend="{{'FORMS.RADICAR_TRAMITES_SERVICIOS.DATOS_DIRECCION.DATOS_DEL_CONTACTO' | translate}}"
                [style]="{'text-align':'left'}"
      [toggleable]="true">

      <p-fieldset class="ui-sm-12 ui-md-12 ui-g-12 ui-lg-12" legend="{{'FORMS.RADICAR_TRAMITES_SERVICIOS.DATOS_DIRECCION.UBICACION' | translate}}"
        [toggleable]="true">

        <!--pais-->
        <div class="ui-sm-12 ui-md-6 ui-g-4 ui-lg-4">
          <div class="ui-g form-group">
            <span class="mandatory">*</span>
            <label class="lb">{{'FORMS.RADICAR_TRAMITES_SERVICIOS.DATOS_DIRECCION.PAIS' | translate}}</label>

            <div class="ui-g-12 md-dropdownfield">
              <p-dropdown [options]="(paisOptions$ | async) | dropdownItem" filter="true" formControlName="pais"
                placeholder="{{'FORMS.RADICAR_TRAMITES_SERVICIOS.DATOS_DIRECCION.SELECCIONE' | translate}}" [autoWidth]="false"
                (onBlur)="listenForBlurEvents('pais')">
              </p-dropdown>

              <div class="ui-message ui-messages-error" *ngIf="validations.pais">
                {{ validations.pais | translate }}
              </div>

            </div>
          </div>
        </div>

        <!--departamento-->
        <div class="ui-sm-12 ui-md-6 ui-g-4 ui-lg-4" [hidden]="!esPaisColombia">
          <div class="ui-g form-group">
            <label class="lb">{{'FORMS.RADICAR_TRAMITES_SERVICIOS.DATOS_DIRECCION.DEPARTAMENTO' | translate}}</label>

            <div class="ui-g-12 md-dropdownfield">
              <p-dropdown [options]="(departamentoOptions$ | async ) | dropdownItem" filter="true" formControlName="departamento"
                placeholder="{{'FORMS.RADICAR_TRAMITES_SERVICIOS.DATOS_DIRECCION.SELECCIONE' | translate}}" [autoWidth]="false"
                (onBlur)="listenForBlurEvents('departamento')">
              </p-dropdown>

              <div class="ui-message ui-messages-error" *ngIf="validations.departamento">
                {{ validations.departamento | translate }}
              </div>
            </div>
          </div>
        </div>

        <!--municipio-->
        <div class="ui-sm-12 ui-md-6 ui-g-4 ui-lg-4" [hidden]="!esPaisColombia">
          <div class="ui-g form-group">
            <span class="mandatory">*</span>
            <label class="lb" for="municipio">{{'FORMS.RADICAR_TRAMITES_SERVICIOS.DATOS_DIRECCION.MUNICIPIO' |
              translate}}</label>

            <div class="ui-g-12 md-dropdownfield">
              <p-dropdown [options]="(municipioOptions$ | async) | dropdownItem" filter="true" id="municipio"
                formControlName="municipio" placeholder="{{'FORMS.RADICAR_TRAMITES_SERVICIOS.DATOS_DIRECCION.SELECCIONE' | translate}}"
                [autoWidth]="false" (onBlur)="listenForBlurEvents('municipio')">
              </p-dropdown>

              <div class="ui-message ui-messages-error" *ngIf="validations.municipio">
                {{ validations.municipio | translate }}
              </div>
            </div>
          </div>
        </div>

        <!--ciudad-->
        <div class="ui-sm-12 ui-md-6 ui-g-4 ui-lg-4" [hidden]="esPaisColombia">
          <div class="ui-g form-group">
            <span class="mandatory">*</span>
            <label class="lb" for="ciudad">{{'FORMS.RADICAR_TRAMITES_SERVICIOS.DATOS_DIRECCION.CIUDAD' | translate}}</label>
            <div class="ui-g-12">
              <span class="md-inputfield">
                <input type="text" pInputText class="large-input" id="ciudad" formControlName="ciudad" onCopy="return false"
                  onDrag="return false" onDrop="return false" onPaste="return false" (onBlur)="listenForBlurEvents('ciudad')">
                <div class="ui-message ui-messages-error" *ngIf="validations.ciudad">
                  {{ validations.ciudad | translate }}
                </div>
              </span>
            </div>
          </div>
        </div>

        <!--codigoPostal-->
        <div class="ui-sm-12 ui-md-6 ui-g-4 ui-lg-4">
          <div class="ui-g form-group">
            <label class="lb">{{'FORMS.RADICAR_TRAMITES_SERVICIOS.DATOS_DIRECCION.CODIGO_POSTAL' | translate}}</label>

            <div class="ui-g-12">
              <span class="md-inputfield">
                <input type="text" pInputText class="large-input" maxlength="6" onkeypress="return String.fromCharCode(event.charCode).match(/[0-9]/g) != null"
                  onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false"
                  formControlName="codigoPostal" (onBlur)="listenForBlurEvents('codigoPostal')">

                <div class="ui-message ui-messages-error" *ngIf="validations.codigoPostal">
                  {{ validations.codigoPostal | translate }}
                </div>
              </span>


            </div>
          </div>
        </div>

      </p-fieldset>

      <p-fieldset class="ui-sm-12 ui-md-12 ui-g-12 ui-lg-12" legend="{{'FORMS.RADICAR_TRAMITES_SERVICIOS.DATOS_DIRECCION.DIRECCION' | translate}}"
        formGroupName="direccion" [toggleable]="true">

        <!--tipoVia-->
        <div class="ui-sm-12 ui-md-6 ui-g-4 ui-lg-4">
          <div class="ui-g form-group">
            <label class="lb">{{'FORMS.RADICAR_TRAMITES_SERVICIOS.DATOS_DIRECCION.TIPO_VIA' | translate}}</label>

            <div class="ui-g-12 md-dropdownfield">
              <p-dropdown [options]="(tipoViaOptions$ | async) | dropdownItem" filter="true" formControlName="tipoVia"
                placeholder="{{'FORMS.RADICAR_TRAMITES_SERVICIOS.DATOS_DIRECCION.SELECCIONE' | translate}}" [autoWidth]="false">
              </p-dropdown>

            </div>
          </div>
        </div>

        <!--nroViaPrincipal-->
        <div class="ui-sm-12 ui-md-6 ui-g-4 ui-lg-4">
          <div class="ui-g form-group">
            <label class="lb">{{'FORMS.RADICAR_TRAMITES_SERVICIOS.DATOS_DIRECCION.NO_VIA_PRINCIPAL' | translate}}</label>
            <div class="ui-g-12">
              <span class="md-inputfield">

                <input type="text" pInputText class="large-input" onCopy="return false" onDrag="return false" onDrop="return false"
                  onPaste="return false" formControlName="nroViaPrincipal" (keypress)="this.restrictNumbers($event)"
                  (blur)="listenForBlurEvents('nroViaPrincipal')" maxlength="3">
                  <div class="ui-message ui-messages-error" *ngIf="validations.nroViaPrincipal">
                      {{ validations.nroViaPrincipal | translate }}
                    </div>
              </span>
            </div>
          </div>
        </div>

        <!--prefijoCuadrante-->
        <div class="ui-sm-12 ui-md-6 ui-g-4 ui-lg-4">
          <div class="ui-g form-group">
            <label class="lb">{{'FORMS.RADICAR_TRAMITES_SERVICIOS.DATOS_DIRECCION.PREFIJO_CUADRANTE' | translate}}</label>

            <div class="ui-g-12 md-dropdownfield">
              <p-dropdown [options]="(prefijoCuadranteOptions$ | async) | dropdownItem" filter="true" formControlName="prefijoCuadrante"
                placeholder="{{'FORMS.RADICAR_TRAMITES_SERVICIOS.DATOS_DIRECCION.SELECCIONE' | translate}}" [autoWidth]="false">
              </p-dropdown>

            </div>
          </div>
        </div>

        <!--bis-->
        <div class="ui-sm-12 ui-md-6 ui-g-4 ui-lg-4">
          <div class="ui-g form-group">
            <label class="lb">{{'FORMS.RADICAR_TRAMITES_SERVICIOS.DATOS_DIRECCION.BIS' | translate}}</label>

            <div class="ui-g-12 md-dropdownfield">
              <p-dropdown [options]="(bisOptions$ | async) | dropdownItem" filter="true" formControlName="bis"
                placeholder="{{'FORMS.RADICAR_TRAMITES_SERVICIOS.DATOS_DIRECCION.SELECCIONE' | translate}}" [autoWidth]="false">
              </p-dropdown>
            </div>
          </div>
        </div>

        <!--orientacion-->
        <div class="ui-sm-12 ui-md-6 ui-g-4 ui-lg-4">
          <div class="ui-g form-group">
            <label class="lb">{{'FORMS.RADICAR_TRAMITES_SERVICIOS.DATOS_DIRECCION.ORIENTACION' | translate}}</label>

            <div class="ui-g-12 md-dropdownfield">
              <p-dropdown [options]="(orientacionOptions$ | async) | dropdownItem" filter="true" formControlName="orientacion"
                placeholder="{{'FORMS.RADICAR_TRAMITES_SERVICIOS.DATOS_DIRECCION.SELECCIONE' | translate}}" [autoWidth]="false">
              </p-dropdown>
            </div>
          </div>
        </div>

        <!--nroVia-->
        <div class="ui-sm-12 ui-md-6 ui-g-4 ui-lg-4">
          <div class="ui-g form-group">
            <label class="lb" for="nroVia">{{'FORMS.RADICAR_TRAMITES_SERVICIOS.DATOS_DIRECCION.NO_VIA' | translate}}</label>

            <div class="ui-g-12">
              <span class="md-inputfield">
                <input type="text" pInputText class="large-input" id="nroVia" formControlName="nroVia"
                (keypress)="this.restrictNumbers($event)"
                  (blur)="listenForBlurEvents('nroVia')" maxlength="3"
                >
                <div class="ui-message ui-messages-error" *ngIf="validations.nroVia">
                    {{ validations.nroVia | translate }}
                  </div>
              </span>
            </div>
          </div>
        </div>

        <!--prefijoCuadrante_se-->
        <div class="ui-sm-12 ui-md-6 ui-g-4 ui-lg-4">
          <div class="ui-g form-group">
            <label class="lb">{{'FORMS.RADICAR_TRAMITES_SERVICIOS.DATOS_DIRECCION.PREFIJO_CUADRANTE' | translate}}</label>

            <div class="ui-g-12 md-dropdownfield">
              <p-dropdown [options]="(prefijoCuadranteOptions$ | async) | dropdownItem" filter="true" formControlName="prefijoCuadrante_se"
                placeholder="{{'FORMS.RADICAR_TRAMITES_SERVICIOS.DATOS_DIRECCION.SELECCIONE' | translate}}" [autoWidth]="false">
              </p-dropdown>
            </div>
          </div>
        </div>

        <!--nroPlaca-->
        <div class="ui-sm-12 ui-md-6 ui-g-4 ui-lg-4">
          <div class="ui-g form-group">
            <label class="lb" for="nroPlaca">{{'FORMS.RADICAR_TRAMITES_SERVICIOS.DATOS_DIRECCION.NO_PLACA' |
              translate}}</label>

            <div class="ui-g-12">
              <span class="md-inputfield">
                <input type="text" pInputText class="large-input" id="nroPlaca" onCopy="return false" onDrag="return false"
                  onDrop="return false" onPaste="return false" formControlName="nroPlaca"
                  (keypress)="this.restrictNumbers($event)"
                  maxlength="4"
                  (blur)="listenForBlurEvents('nroPlaca')"
                  >
              </span>
            </div>
          </div>
        </div>

        <!--orientacion_se-->
        <div class="ui-sm-12 ui-md-6 ui-g-4 ui-lg-4">
          <div class="ui-g form-group">
            <label class="lb">{{'FORMS.RADICAR_TRAMITES_SERVICIOS.DATOS_DIRECCION.ORIENTACION' | translate}}</label>

            <div class="ui-g-12 md-dropdownfield">
              <p-dropdown [options]="(orientacionOptions$ | async) | dropdownItem" filter="true" formControlName="orientacion_se"
                placeholder="{{'FORMS.RADICAR_TRAMITES_SERVICIOS.DATOS_DIRECCION.SELECCIONE' | translate}}" [autoWidth]="false">
              </p-dropdown>
            </div>
          </div>
        </div>

        <p-fieldset class="ui-sm-12 ui-md-12 ui-g-12 ui-lg-12" legend="{{'FORMS.RADICAR_TRAMITES_SERVICIOS.DATOS_DIRECCION.COMPLEMENTO' | translate}}"
          [toggleable]="true">

          <p-panel custom-panel no-borders>
            <div class="ui-g ui-fluid">

              <div button-container>
                <button pButton type="button" label="{{'GENERALES.BUTTONS.AGREGAR' | translate}}" (click)="addComplemento()"
                  style="float: right; width: auto; margin-left: 12px;">
                </button>
              </div>

              <p-fieldset formArrayName="complementos" *ngFor="let complemento of complementos.controls; let i = index"
                class="ui-sm-12 ui-md-12 ui-g-12 ui-lg-12" legend="Complemento #{{ i }}" [toggleable]="false">

                <div [formGroupName]="i">
                  <div class="fab-holder">
                    <button pButton type="button" icon="fa-trash" (click)="removeComplemento(i)" class="ui-button ui-button-icon-only fab-sticky-button">
                    </button>
                  </div>


                  <!--tipoComplemento-->
                  <div class="ui-sm-12 ui-md-6 ui-g-6 ui-lg-6">
                    <div class="ui-g form-group">
                      <label class="lb">{{'FORMS.RADICAR_TRAMITES_SERVICIOS.DATOS_DIRECCION.TIPO_COMPLEMENTO' |
                        translate}}</label>

                      <div class="ui-g-12 md-dropdownfield">
                        <p-dropdown [options]="(tipoComplementoOptions$ | async) | dropdownItem" filter="true"
                          formControlName="tipoComplemento" placeholder="{{'FORMS.RADICAR_TRAMITES_SERVICIOS.DATOS_DIRECCION.SELECCIONE' | translate}}"
                          [autoWidth]="false">
                        </p-dropdown>
                      </div>
                    </div>
                  </div>

                  <!--complementoAdicional-->
                  <div class="ui-sm-12 ui-md-6 ui-g-6 ui-lg-6">
                    <div class="ui-g form-group">
                      <label class="lb">{{'FORMS.RADICAR_TRAMITES_SERVICIOS.DATOS_DIRECCION.DESCRIPCION' | translate}}</label>

                      <div class="ui-g-12">
                        <span class="md-inputfield">
                          <input type="text" pInputText class="large-input" onCopy="return false" onDrag="return false"
                            onDrop="return false" onPaste="return false" formControlName="complementoAdicional"
                            maxlength="300"
                            >
                        </span>
                      </div>
                    </div>
                  </div>

                </div>

              </p-fieldset>
            </div>
          </p-panel>

        </p-fieldset>
      </p-fieldset>
    </p-fieldset>

  </form>

  <p-footer>
    <!--<div style="text-align: right;">-->
    <button pButton type="button" class="ui-button-info" label="{{'GENERALES.BUTTONS.ACEPTAR' | translate}}" style="width: auto; margin-left: 12px; margin-bottom: 10px"
      [disabled]="form.pristine" (click)="save();"></button>

    <button pButton type="button" class="ui-button-danger" label="{{'GENERALES.BUTTONS.CANCELAR' | translate}}" style="width: auto; margin-left: 12px;"
      (click)="showContactForm=false;showDireccionForm=false;"></button>
    <!--</div>-->
  </p-footer>
</p-dialog>
