    <ul class="ul-lang">
      <li class="li-lang">
          <a class="lang-selector" (click)="ChangeLanguage('en')"><img class="img-flag" src="./assets/img/flags/united-states-of-america.png" alt="EN"></a>
      </li>
      <li class="li-lang">
          <a class="lang-selector" (click)="ChangeLanguage('es')"><img class="img-flag" src="./assets/img/flags/colombia.png" alt="ES"></a>
      </li>
    </ul>
